# Dataset Documentation and Description

In [3]:
import os
import pandas as pd
from typing import *  # type: ignore

In [4]:
# check if the dataset path is correct
DATSET_PATH: str = "../dataset"
if not os.path.exists(DATSET_PATH):
    print("Dataset path is not correct")
    exit(1)
else:
    print("Dataset path is correct")

Dataset path is correct

In [5]:
# retrieve all file paths inthe dataset folder
file_paths: List[str] = []
for root, dirs, files in os.walk(DATSET_PATH):
    for file in files:
        file_paths.append(os.path.join(root, file))
assert len(file_paths) == 24, f"Expected 24 files, but found {len(file_paths)}"
print(f"Total files found: {len(file_paths)}")

Total files found: 24

In [6]:
# inspect the ".\dataset\id_information_mmsr.tsv" file
id_information_mmsr_file = os.path.join(DATSET_PATH, "id_information_mmsr.tsv")
assert os.path.exists(id_information_mmsr_file), f"{id_information_mmsr_file} not found"

# read in the tsv file
base_infos: pd.DataFrame = pd.read_csv(id_information_mmsr_file, sep="\t")  # type: ignore

In [10]:
base_infos.head()

,id,artist,song,album_name
0,01rMxQv6vhyE1oQX,Against the Current,Chasing Ghosts,In Our Bones
1,02ZnlCGZEbkfCDxo,Laura Pausini,Tra Te E Il Mare,The Best of Laura Pausini - E Ritorno Da Te
2,04OjszRi9rC5BlHC,Grizzly Bear,Knife,Yellow House
3,04iitW3ffa0mhpx3,Ne-Yo,Miss Independent,Year Of The Gentleman (Bonus Track Edition)
4,04xUDjAYC14jsHyH,Jawbreaker,Jinx Removing,24 Hour Revenge Therapy (Remastered)

In [8]:
# inspect the ".\dataset\id_lyrics_tf-idf_mmsr.tsv" file
id_lyrics_tf_idf_mmsr_file = os.path.join(DATSET_PATH, "id_lyrics_tf-idf_mmsr.tsv")
assert os.path.exists(id_lyrics_tf_idf_mmsr_file), f"{id_lyrics_tf_idf_mmsr_file} not found"

# read in the tsv file
lyrics_tf_idf: pd.DataFrame = pd.read_csv(id_lyrics_tf_idf_mmsr_file, sep="\t")  # type: ignore

In [9]:
lyrics_tf_idf.head()

,id,abl,accept,across,act,addict,afraid,age,ago,ah,...,yea,yeah,year,yellow,yes,yesterday,yet,yo,young,youth
0,h48f46ZsT9h0Z5Dm,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.149783,0.0,0.0,0.0,0.0
1,PV5EXN6AIVBqvsLO,0.0,0.0,0.000000,0.0,0.0,0.327025,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,eFEY5JiDF3ZLpXBZ,0.0,0.0,0.143314,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.042526,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,VAWiymoCIYxhae3J,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.109514,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,2H91WLAd7ZZJvAiw,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.084732,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0